//-**=========================================================
  * Module: genjobs.ng.jade
  * Created by wjwong on 9/23/15.
  =========================================================*/
toaster-container(toaster-options="{'position-class': 'toast-bottom-right', 'close-button':true}")
.row-fluid
  h2 State and Action Tasks
  h3 Create
  form.form-inline.ng-pristine.ng-valid(name='myform', ng-submit='taskGen(tasktype, cstate, bundle, asncnt, antcnt)')
    .form-group(style='margin-right: 10px')
      label Task Type:
      select.form-control(ng-model='tasktype', ng-init='tasktype="action"')
        each v in ['state', 'action']
          option(value='#{v}', ng-selected='tasktype=="#{v}"') #{v}
    .form-group(style='margin-right: 10px')
      label State: 
      select.form-control(ng-model='cstate', ng-init='cstate=0')
        option(ng-repeat='state in statenum', value='{{state}}', ng-selected='cstate==(state)') {{state}}
    .form-group(style='margin-right: 10px', title='Number of jobs to bundle per task')
      label Bundle By:
      select.form-control(ng-model='bundle', ng-init='bundle=(tasktype=="action")?10:5')
        each v in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
          option(value='#{v}', ng-selected='bundle==#{v}') #{v}
    .form-group(style='margin-right: 10px', title='# of Turks to use per bundle of work')
      label # Turk Assignments:
      select.form-control(ng-model='asncnt', ng-init='asncnt=3')
        each v in [1, 2, 3, 4, 5, 6, 7, 8, 9]
          option(value='#{v}', ng-selected='asncnt==#{v}') #{v}
    .form-group(style='margin-right: 10px', title='# of annotations per assignment')
      label # of Annotations:
      select.form-control(ng-model='antcnt', ng-init='antcnt=3')
        each v in [1, 2, 3]
          option(value='#{v}', ng-selected='antcnt==#{v}') #{v}
    button.btn.btn-default(type='submit') Go
  hr
.row
  accordion.col-sm-12
    accordion-group.panel-primary.shadowbox(ng-init="isOpen = true", is-open="isOpen")
      accordion-heading
        h4.panel-title
          i.fa.fa-inbox
          | &nbsp; Job Groups
      table.table.table-condensed#listgames(ng-if='dataloaded', datatable="ng", dt-options="dtOptions")
        thead
          tr
            th Job Id
            th Type
            th State
            th Bundle
            th # Turks
            th # Annot
            th # Tasks
        tbody
          tr(ng-repeat='job in jobmgrlist', ng-if='job.public', ng-click='selectJob(job._id)')
            td(title='{{job._id}}') {{job._id}}
            td(title='{{job.tasktype}}') {{job.tasktype}}
            td(title='{{job.stateid}}') {{job.stateid}}
            td(title='{{job.bundle}}') {{job.bundle}}
            td(title='{{job.asncnt}}') {{job.asncnt}}
            td(title='{{job.antcnt}}') {{job.antcnt}}
            td(title='{{job.list.length}}') {{job.list.length}}
.row
  accordion.col-sm-6
    accordion-group.panel-primary.shadowbox(ng-if='jobinfo', ng-init="isOpen = true", is-open="isOpen")
      accordion-heading
        h4.panel-title
          i.fa.fa-file-text-o
          | &nbsp; Job {{jobinfo._id}} Information
      .mb Task Type: {{jobinfo.tasktype | uppercase}}  State: {{jobinfo.stateid}}  Bundle: {{jobinfo.bundle}}
      table.table.table-condensed#listgames(ng-if='dataloaded', datatable="ng", dt-options="dtOptions")
        thead
          tr
            th Task Id
        tbody
          tr(ng-repeat='tid in jobinfo.list', ng-click="$state.go('app.gentask',{taskid: tid})")
            td {{tid}}
