//-**=========================================================
  * Module: genjobs.ng.jade
  * Created by wjwong on 9/23/15.
  =========================================================*/
toaster-container(toaster-options="{'position-class': 'toast-bottom-right', 'close-button':true}")
.row-fluid
  h2 Action and Description Jobs
  .row
    accordion.col-sm-6
      accordion-group.panel-primary.shadowbox(ng-init="isOpen = true", is-open="isOpen")
        accordion-heading
          h4.panel-title
            i.fa.fa-cubes
            | &nbsp; Available Block States
        table.table.table-condensed#listgames(ng-if='dataloaded', datatable="ng", dt-options="dtOptionsAvail")
          thead
            tr
              th 
              th ID
              th Name
              th Created
          tbody
            tr(ng-repeat='s in stateslist')
              td(title="''")
                button.btn.btn-xs.btn-danger(ng-click='remState(s._id)')
                  .fa.fa-remove
              td(title="'ID'", filter="{ _id: 'text'}", sortable="'_id'", ng-click='chooseState(s._id)')
                | {{s._id}}
              td(title="'Name'", filter="{ name: 'text'}", sortable="'name'", ng-click='chooseState(s._id)')
                | {{s.name}}
              td(title="'Created'", sortable="'created'", ng-click='chooseState(s._id)')
                | {{s.created | date:"MM/dd/yyyy"}}
    accordion.col-sm-6(ng-show='curState._id')
      accordion-group.panel-primary.shadowbox(ng-init="isOpen = true", is-open="isOpen")
        accordion-heading
          h4.panel-title
            i.fa.fa-edit
            | &nbsp; Create Job
        .row-fluid.col-sm-8(style='padding-left: 0px;margin-left: -30px;')
          #imgpreview
        .row-fluid.col-sm-4(style='padding-left: 30px;')
          | ID: 
          b {{curState._id}}
          br
          | Name: 
          b {{curState.name}}
          br
          | # Blocks: {{curState.block_meta.blocks.length}}
          br
          | # Moves: {{curState.block_states.length}}
          br
          | Created: {{curState.created | date:"MM/dd/yyyy"}}
        .row-fluid.col-sm-12
          form.form-inline.ng-pristine.ng-valid(name='createJobForm', ng-submit='taskGen(tasktype, movedir, bundle, asncnt, antcnt)')
            .form-group(style='margin-right: 10px')
              label Task Type:
              select.form-control(ng-model='tasktype', ng-init='tasktype="action"')
                each v in ['state', 'action']
                  option(value='#{v}', ng-selected='tasktype=="#{v}"') #{v}
            .form-group(style='margin-right: 10px')
              label Movement Direction:
              select.form-control(ng-model='movedir', ng-init='movedir="normal"')
                each v in ['normal', 'reverse']
                  option(value='#{v}', ng-selected='movedir=="#{v}"') #{v}
            br
            .form-group(style='margin-right: 10px', title='Number of jobs to bundle per task')
              label Bundle By:
              select.form-control(ng-model='bundle', ng-init='bundle=(tasktype=="action")?10:5')
                each v in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
                  option(value='#{v}', ng-selected='bundle==#{v}') #{v}
            .form-group(style='margin-right: 10px', title='# of Turks to use per bundle of work')
              label # Turk Assignments:
              select.form-control(ng-model='asncnt', ng-init='asncnt=3')
                each v in [1, 2, 3, 4, 5, 6, 7, 8, 9]
                  option(value='#{v}', ng-selected='asncnt==#{v}') #{v}
            .form-group(style='margin-right: 10px', title='# of annotations per assignment')
              label # of Annotations:
              select.form-control(ng-model='antcnt', ng-init='antcnt=3')
                each v in [1, 2, 3]
                  option(value='#{v}', ng-selected='antcnt==#{v}') #{v}
            br
            button.btn.btn-primary(type='submit') Create
  hr
.row
  accordion.col-sm-12
    accordion-group.panel-primary.shadowbox(ng-init="isOpen = true", is-open="isOpen")
      accordion-heading
        h4.panel-title
          i.fa.fa-inbox
          | &nbsp; Job Groups
      table.table.table-condensed#listgames(ng-if='dataloaded', datatable="ng", dt-options="dtOptionsGrp")
        thead
          tr
            th 
            th Job Id
            th Type
            th State
            th Bundle
            th # Turks
            th # Annot
            th # Tasks
        tbody
          tr(ng-repeat='job in jobmgrlist', ng-if='job.public')
            td
              button.btn.btn-xs.btn-danger(ng-click='remJob(job._id)')
                .fa.fa-remove
            td(title='{{job._id}}', ng-click='selectJob(job._id)') {{job._id}}
            td(title='{{job.tasktype}}') {{job.tasktype}}
            td(title='{{job.stateid}}', ng-click='chooseState(job.stateid)') {{job.stateid}}
            td(title='{{job.bundle}}') {{job.bundle}}
            td(title='{{job.asncnt}}') {{job.asncnt}}
            td(title='{{job.antcnt}}') {{job.antcnt}}
            td(title='{{job.list.length}}') {{job.list.length}}
.row
  accordion.col-sm-12
    accordion-group.panel-primary.shadowbox(ng-if='jobinfo', ng-init="isOpen = true", is-open="isOpen")
      accordion-heading
        h4.panel-title
          i.fa.fa-file-text-o
          | &nbsp; Job {{jobinfo._id}} Information
      .mb 
        | Task Type:
        i  {{jobinfo.tasktype | uppercase}} &nbsp;&nbsp; 
        | State:
        i  {{jobinfo.stateid}} &nbsp;&nbsp; 
        | Bundle:
        i  {{jobinfo.bundle}}
      table.table.table-condensed#listgames(ng-if='dataloaded', datatable="ng", dt-options="dtOptionsTask")
        thead
          tr
            th
            th Task Id
            th HITs
        tbody
          tr(ng-repeat='task in jobinfo')
            td
              button.btn.btn-xs(ng-click='createHIT(task._id)') Create HIT
            td(ng-click="$state.go('gentask',{taskId: task._id, assignmentId: 'ASSIGNMENT_ID_NOT_AVAILABLE', workerId: 'EXAMPLE'})")
              i.fa.fa-eye
              | &nbsp;{{task._id}}
            td
              span(ng-repeat='hit in task.hitlist') {{hit}} &nbsp;
              //-div(ng-repeat='(k,v) in task.submitted', ng-click="$state.go('gentask',{taskId: task._id, workerId: k, report: 1})") {{k}} {{v.time | date:"MM/dd/yyyy H:m"}}
