//-**=========================================================
  * Module: gentasks.ng.jade
  * Created by wjwong on 9/23/15.
  =========================================================*/
toaster-container(toaster-options="{'position-class': 'toast-bottom-right', 'close-button':true}")
.row-fluid
  h2 State and Action Tasks
  h3 Create
  form.form-inline.ng-pristine.ng-valid(name='myform', ng-submit='startGen(ccnt, (cstate)?undefined:itr, cstate)')
    .form-group(style='margin-right: 10px')
      label Task Type:
      select.form-control(ng-model='tasktype')
        each v in ['state', 'action']
          option(value='#{v}', ng-selected='tasktype==#{v}') #{v}
    .form-group(style='margin-right: 10px')
      label State: 
      select.form-control(ng-model='cstate', ng-init='cstate=0')
        option(ng-repeat='state in stateslist', value='{{state.stateid}}', ng-selected='cstate==(state.stateid)') {{state.stateid}}
    .form-group(style='margin-right: 10px', title='Number of jobs to bundle per task')
      label Bundle By:
      select.form-control(ng-model='bundle')
        each v in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
          option(value='#{v}', ng-selected='bundle==#{v}') #{v}
    .form-group(style='margin-right: 10px', title='# of Turks to use per bundle of work')
      label # Turk Assignments:
      select.form-control(ng-model='asncnt')
        each v in [1, 2, 3, 4, 5, 6, 7, 8, 9]
          option(value='#{v}', ng-selected='asncnt==#{v}') #{v}
    .form-group(style='margin-right: 10px', title='# of annotations per assignment')
      label # of Annotations:
      select.form-control(ng-model='antcnt')
        each v in [1, 2, 3]
          option(value='#{v}', ng-selected='antcnt==#{v}') #{v}
    button.btn.btn-default(type='submit') Go
  hr
.row
  accordion.col-sm-6
    accordion-group.panel-primary.shadowbox(ng-init="isOpen = true", is-open="isOpen")
      accordion-heading
        h4.panel-title
          i.fa.fa-inbox
          | &nbsp; 1. States to Assign
      table.table.table-condensed#listgames(ng-if='dataloaded', datatable="ng", dt-options="dtOptions")
        thead
          tr
            th Annotate
            th State
        tbody
          tr(ng-repeat='state in stateslist', ng-if='state.public')
            td
              button.btn.btn-xs.btn-info(title='Remove', ng-click='remove(state._id)')
                .fa.fa-eye &nbsp; Describe
              button.btn.btn-xs.btn-info(title='Review Replay', ng-click='$state.go("app.replay", {taskid: state._id})')
                .fa.fa-eye &nbsp; Action
            td(title='{{state._id}}', ng-click='selectAgent(state._id, "job")') {{ state.stateid}}

script#didAgents(type="text/ng-template")
  h3 Choose an Agent
  div
    table.row-border.hover(datatable='ng', dt-options='dtOptions')
      thead
        tr
          th Name
      tbody
        tr(ng-repeat='agent in ngDialogData.agents', ng-if='agent.profile.roles.indexOf("agent") > -1')
          td(title='{{agent._id}}', ng-click='closeThisDialog(agent._id)') {{agent.username}}

